* {
    font-family: Arial, Helvetica, sans-serif;
}

.title,
.header {
    color: rgb(22, 75, 161);
    font-family: 'Times New Roman';
}

.header {
    font-size: 22px;
}

img {
    height: auto;
    width: 700px;
}